@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <title type="1">Welcome</title>    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<row>
    <column extra-small="12" large="4">
        Column 1
    </column>
    <column extra-small="12" large="4">
        Column 2
    </column>
    <column extra-small="12" large="4">
        Column 3
    </column>
    <column extra-small="12" large="4">
        Column 4
    </column>
    <column extra-small="12" large="4">
        Column 5
    </column>
    <column extra-small="12" large="4">
        Column 6
    </column>
</row>